* {
    margin: 0;
    padding: 0;
}

html, body {
height: 100%;
}
body {

    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 1%, rgba(20,20,20,1) 9%);
}

.header {
    width: 100%;
    height: 50px;

}

header img {
    width: 118px;
    height: 44px;
    padding: 15px 0 0 49px;
}

.box {
    width: 560px;
    height: 360px;
    position: relative;
    left: 485px;
    top: 110px;
}

h1 {
    color: white;
    font-size: 51px;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 20px 0 20px 0;
}

.profiles {
    display: flex;
    background-size: 155px;
    list-style: none;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.one {
    height: 220px;
}

.profile-name1 {
    color: gray;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    position: relative;
    top: 170px;
    left: 38px;
}

.profile-name2 {
    color: gray;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    position: relative;
    top: 170px;
    left: 38px;
}

.profile-name3 {
    color: gray;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    position: relative;
    top: 170px;
    left: 12px;
}

.profile-one {
    background-image: url(avatar1.png);
    width: 155px;
    height: 155px;
    border-radius: 3px;
    margin: 0 20px 0 20px;
    background-size: 155px;
    
}

.profile-two {
    background-image: url(avatar2.png);
    width: 155px;
    height: 155px;
    border-radius: 3px;
    margin: 0 10px 0 10px;
    background-size: 155px;
}

.profile-three {
    background-image: url(avatar3.png);
    width: 155px;
    height: 155px;
    border-radius: 3px;
    margin: 0 20px 0 20px;
    background-size: 155px;
}

.profile-name {
    position: relative;
    top:170px;
    list-style: none;
    text-align: center;
    color: gray;

}

.button h2 {
    width: 220px;
    height: 31px;
    color: gray;
    border: 1px solid gray;
    text-align: center;
    font-size: 17.5px;
    font-weight: bolder;
    font-family: 'Plus Jakarta Sans', sans-serif;
    letter-spacing: 2px;
    position: relative;
    top: 152px;
    left: 655px;
    padding: 8px 0 0;
}

.profile-one:hover {
    font-weight: bold;
    color: white;
}

.profile-two:hover {
    font-weight: bold;
    color: white;
}

.profile-three:hover {
    font-weight: bold;
    color: white;
}

.prolife-one a:hover {
    border: 3px solid white;
}